.p__opensans {
    background: #DCCA87;
    box-shadow: .5em 0 0 #DCCA87, -.5em 0 0 #DCCA87;    
}

.headtext__cormorant {
    width: 20rem;
    background: #DCCA87;
    box-shadow: -.375em 0 0 #DCCA87;
}

@media screen and (min-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px;
    }

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }    
}